header {
    text-align: center;
    font-size: 50px;
    font-family:Book Antiqua;
}
body {
    width: 1000px;
    height: 1200px;
    margin: auto;
}
.personal {
    position: relative;
    float:left;
    margin-top: 40px;
    margin-right: 250px;
    padding-left: 25px ;
    line-height: 1.7;
}
li {
    list-style-type: none;
}
img {
    width: 200px;
    height: 250px;
}
.perfil {
   margin-left: 55px;
   margin-top: 40px;
}
.a {
   margin-left: 55px;
   margin-top: 40px;
}  

